# SPDX-FileCopyrightText: 2024 3mdeb <contact@3mdeb.com>
#
# SPDX-License-Identifier: Apache-2.0

[submodule "remark-templates"]
	path = remark-templates
	url = git@github.com:3mdeb/remark-templates.git
